In [1]:
import pandas as pd

In [2]:
purchase_data_file = "Resources/purchase_data.csv"

In [3]:
purchase_df = pd.read_csv(purchase_data_file)

In [4]:
num_players = len(purchase_df["SN"].value_counts())

In [5]:
num_players

576

In [6]:
print("__________________")
print(f"Total Players: {num_players}")
print("__________________")

__________________
Total Players: 576
__________________

In [7]:
# Number of Unique Items
unique_items = purchase_df["Item Name"].nunique()
unique_items

179

In [8]:
#Average Purchase Price
average_price = round(purchase_df["Price"].mean(),2)
average_price

3.05

In [9]:
# Total Number of Purchases
purchase_count = num_players
purchase_count

576

In [10]:
# Total Revenue
purchase_total = purchase_df["Price"].sum()
purchase_total

2379.77

In [11]:
print("______________________________")
print(f"Number of Unique items: {unique_items}")
print("_________________________")
print(f"Average Purchase Price: {average_price}")
print("_________________________")
print(f"Totsl Number of Purchases: {purchase_count}")
print("_________________________")
print(f"Total Revenue: {purchase_total}")
print("__________________________")
print("________________________________________")

______________________________
Number of Unique items: 179
_________________________
Average Purchase Price: 3.05
_________________________
Totsl Number of Purchases: 576
_________________________
Total Revenue: 2379.77
__________________________
________________________________________

GENDER

In [12]:
import pandas as pd

In [13]:
purchase_data_file = "Resources/purchase_data.csv"

In [14]:
purchase_df = pd.read_csv(purchase_data_file)

In [15]:
purchase_df.tail()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [16]:
num_players = len(purchase_df["SN"].value_counts())

In [17]:
num_players

576

In [18]:
gender_grouped_df = purchase_df.groupby("Gender")

In [19]:
gender_count = gender_grouped_df["SN"].nunique()

In [20]:
gender_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [21]:
gender_percentage = ((gender_count / num_players)*100).round(2)

In [22]:
gender_percentage

Gender
Female                   14.06
Male                     84.03
Other / Non-Disclosed     1.91
Name: SN, dtype: float64

In [23]:
# Ceeate new DataFrame to represent Gender Demographics
gender_demo_df = pd.DataFrame({"Total Count":gender_count,
                            "Percentage of Players":gender_percentage})

Gender Demographics

In [24]:
gender_demo_df.head()

                       Total Count  Percentage of Players
Gender
Female                          81                  14.06
Male                           484                  84.03
Other / Non-Disclosed           11                   1.91

Purchasing Analysis (Gender)

In [25]:
purchase_count = gender_grouped_df["Purchase ID"].count()

In [26]:
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [27]:
average_purchase_price = gender_grouped_df["Price"].mean()

In [28]:
average_purchase_price.round(2)

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [29]:
total_purchase_value = gender_grouped_df["Price"].sum()

In [30]:
total_purchase_value.round(2)

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [31]:
avg_purchase_person = total_purchase_value / gender_count

In [32]:
avg_purchase_person.round(2)

Gender
Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [33]:
print(f"Purchase Count: {purchase_count}")
print("______________________________________")
print(f"Average Purchase Price: {average_purchase_price.round(2)}")
print("_______________________________________")
print(f"Total Purchase Value: {total_purchase_value.round(2)}")
print("_______________________________________")
print(f"Average Purchase Total per Person by Gender: {avg_purchase_person.round(2)}")

Purchase Count: Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64
______________________________________
Average Purchase Price: Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64
_______________________________________
Total Purchase Value: Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64
_______________________________________
Average Purchase Total per Person by Gender: Gender
Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

Age Demographics

In [34]:
purchase_df.loc[(purchase_df['Age'] < 10), 'age_bin'] = "< 10"
purchase_df.loc[(purchase_df['Age'] >= 10) & (purchase_df['Age'] <= 14), 'age_bin'] = "10 - 14"
purchase_df.loc[(purchase_df['Age'] >= 15) & (purchase_df['Age'] <= 19), 'age_bin'] = "15 - 19"
purchase_df.loc[(purchase_df['Age'] >= 20) & (purchase_df['Age'] <= 24), 'age_bin'] = "20 - 24"
purchase_df.loc[(purchase_df['Age'] >= 25) & (purchase_df['Age'] <= 29), 'age_bin'] = "25 - 29"
purchase_df.loc[(purchase_df['Age'] >= 30) & (purchase_df['Age'] <= 34), 'age_bin'] = "30 - 34"
purchase_df.loc[(purchase_df['Age'] >= 35) & (purchase_df['Age'] <= 39), 'age_bin'] = "35 - 39"
purchase_df.loc[(purchase_df['Age'] >= 40), 'age_bin'] = "> 40"

In [35]:
# counts purchases by age bin by counting screen names (non-unique)
pur_count_age = pd.DataFrame(purchase_df.groupby('age_bin')['SN'].count())
# finds avg price of purchases by age bin
avg_price_age = pd.DataFrame(purchase_df.groupby('age_bin')['Price'].mean())
# finds total purchase value by age bin
tot_pur_age = pd.DataFrame(purchase_df.groupby('age_bin')['Price'].sum())
# deletes multiple occurances of SN while only keeping last, then counts # of unique
# players by age bin
no_dup_age = pd.DataFrame(purchase_df.drop_duplicates('SN', keep = 'last').groupby('age_bin')['SN'].count())
# merges all info from above into one df
merge_age = pd.merge(pur_count_age, avg_price_age, left_index = True, right_index = True).merge(tot_pur_age, left_index = True, right_index = True).merge(no_dup_age, left_index = True, right_index = True)
# renames columns
merge_age.rename(columns = {"SN_x": "# of Purchases", "Price_x": "Average Purchase Price", "Price_y": "Total Purchase Value", "SN_y": "# of Purchasers"}, inplace = True)
# calculates normalized totals
merge_age['Normalized Totals'] = merge_age['Total Purchase Value']/merge_age['# of Purchasers']
# rest index for aesthetics
merge_age.index.rename("Age", inplace = True)
# formats
merge_age.style.format({'Average Purchase Price': '${:.2f}', 'Total Purchase Value': '${:.2f}', 'Normalized Totals': '${:.2f}'})

In [36]:
age_grouped_df = purchase_df.groupby("Age")

Top Spenders

In [37]:
# Group by screen name to find, total purchase per person, number of purchases per person, and average price price per person
purchase_amt_by_SN = pd.DataFrame(purchase_df.groupby('SN')['Price'].sum())
num_purchase_by_SN = pd.DataFrame(purchase_df.groupby('SN')['Price'].count())
avg_purchase_by_SN = pd.DataFrame(purchase_df.groupby('SN')['Price'].mean())

merged_top5 = pd.merge(purchase_amt_by_SN, num_purchase_by_SN, left_index = True, right_index = True).merge(avg_purchase_by_SN, left_index=True, right_index=True)

merged_top5.rename(columns = {'Price_x': 'Total Purchase Value', 'Price_y':'Purchase Count', 'Price':'Average Purchase Price'}, inplace = True)

merged_top5.sort_values('Total Purchase Value', ascending = False, inplace=True)

merged_top5 = merged_top5.head()

merged_top5.style.format({'Total Purchase Value': '${:.2f}', 'Average Purchase Price': '${:.2f}'})

Most Popular Items

In [38]:
# gets a count of each item by grouping by Item ID and counting the number of each IDs occurances
top5_items_ID = pd.DataFrame(purchase_df.groupby('Item ID').count())
# sort from high to low total purchase count
top5_items_ID.sort_values('Item ID', ascending = False, inplace = True)
# keep the first 6 rows because there is a tie
top5_items_ID = top5_items_ID.iloc[0:6][:]
# find the total purchase value of each item
top5_items_total = pd.DataFrame(purchase_df.groupby('Item ID')['Price'].sum())
# merge purcahse count and total purcahse value 
top5_items = pd.merge(top5_items_ID, top5_items_total, left_index = True, right_index = True)
# drop duplicate items from original Df
no_dup_items = purchase_df.drop_duplicates(['Item ID'], keep = 'last')
# merge to get all other info from the top 6 using the no dup df
top5_merge_ID = pd.merge(top5_items, no_dup_items, left_index = True, right_on = 'Item ID')
# keep only neede columns
top5_merge_ID = top5_merge_ID[['Item ID', 'Price_y', 'Price_x']]
# reset index as item ID for aesthetics
top5_merge_ID.set_index(['Item ID'], inplace = True)
# rename columns
top5_merge_ID.rename(columns =  {'Item ID_x': 'Purchase Count', 'Price_y': 'Item Price', 'Price_x': 'Total Purchase Value'}, inplace=True)
# format
top5_merge_ID.style.format({'Item Price': '${:.2f}', 'Total Purchase Value': '${:.2f}'})

Most Profitable Items

In [39]:
# find total purcahse value and sort by high to low
top5_profit = pd.DataFrame(purchase_df.groupby('Item ID')['Price'].sum())
top5_profit.sort_values('Price', ascending = False, inplace = True)
# only keep top 5
top5_profit = top5_profit.iloc[0:5][:]
# get item purchase count
pur_count_profit = pd.DataFrame(purchase_df.groupby('Item ID')['Item ID'].count())

top5_profit = pd.merge(top5_profit, pur_count_profit, left_index = True, right_index = True, how = 'left')
top5_merge_profit = pd.merge(top5_profit, no_dup_items, left_index = True, right_on = 'Item ID', how = 'left')
top5_merge_profit = top5_merge_profit[['Item ID', 'Item Name', 'Item ID_x', 'Price_y','Price_x']]
top5_merge_profit.set_index(['Item ID'], inplace=True)
top5_merge_profit.rename(columns = {'Item ID_x': 'Purchase Count', 'Price_y': 'Item Price', 'Price_x': 'Total Purchase Value'}, inplace = True)
top5_merge_profit.style.format({'Item Price': '${:.2f}', 'Total Purchase Value': '${:.2f}'})